ul {
    list-style: none;
}

button {
    margin: 10px;
}

.notification {
    color: red;
    background-color: lightgray;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.blog-form input {
    margin-bottom: 10px;
}

.button-logoff {
    margin-left: 10px;
}

.blog {
    padding-top: 10px;
    padding-left: 2px;
    border: 1px solid black;
    margin-bottom: 5px;
    list-style: none;
    max-width: 500px;
}
